<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SamoraMachelChambersGroupOfAdvocates</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SamoraMachelChambersGroupOfAdvocates.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><b>A LOGO WILL COME HERE</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <span> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</span>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <span> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</span>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AboutUs" asp-action="Index">About Us</a>
                        </li>
                        <span> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</span>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Index">Our Judgement</a>
                        </li>
                        <span> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</span>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Advocates" asp-action="Index">News and Advocates</a>
                        </li>
                        <span> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</span>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ContactUs" asp-action="Create">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="page-footer font-small unique-color-dark text-left" id="footer">
        <div style="background-color:#0c2f44">
            <div class="container">
                <div class="row py-4 d-flex align-items-centre">
                    <!-- Grid column-->
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 md-md-0">
                        <h6 class="mb-0" style="color:white;">Get connected with us on social networks!</h6>
                    </div>

                    <!-- Grid column-->
                    <div class="flex-center">
                        <!-- Facebook -->
                        <a class="fb-ic" href="https://www.facebook.com/">
                            <i class="fab fa-facebook-f fa-lg text-white mr-4"></i>
                        </a>

                        <!-- Twitter -->
                        <a class="tw-ic" href="https://x.com/home">
                            <i class="fab fa-twitter fa-lg text-white mr-4"></i>
                        </a>

                        <!-- Google +-->
                        <a class="gplus-ic" href="https://www.google.com/intl/en/gmail/about/">
                            <i class="fab fa-google-plus-g fa-lg text-white mr-4"></i>
                        </a>
                        
                        <!-- LinkedIn-->
                        <a class="li-ic" href="https://za.linkedin.com/">
                            <i class="fab fa-linkedin fa-lg text-white mr-4"></i>
                        </a>

                        <!-- Instagram --> 
                        <a class="ins-ic" href="https://www.instagram.com/accounts/login/?hl=en">
                            <i class="fab fa-instagram fa-lg text-white mr-4"></i>
                        </a>
                    </div>
                    <span> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</span>
                    <span> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</span>
                    <span> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</span>
                    <!-- Grid column-->
                    <div class="flex-right">
                        <h6 class="mb-0" style="color:white;">Contact Information</h6>
                        <div class="clear">
                        </div>
                        <div class="textwidget">
                            <i class="gdlr-icon fa fa-map-marker" style="color: #fff; font-size: 16px; ">
                            </i>
                            <a target="_blank" href="https://maps.app.goo.gl/4wCQUykVnN2VJCBK6" rel="noopener">
                                Samora Machel Crescent, Mandela Park, Khayelitsha, 7784
                            </a>
                            <div class="clear">
                            </div>
                            <i class="fa fa-envelope" style="color: #fff; font-size: 16px; ">
                            </i>
                            <a href="mailto:reception@samoramachelchambers.com">reception@samoramachelchambers.com</a>
                            <div class="clear">
                            </div>
                            <i class="fa fa-phone" style="color: #fff; font-size: 16px; ">
                            </i>
                            <a href="tel:064 776 1095">064 776 1095</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrapper">
            <div class="copyright-container container">
                <div class="copyright">
                    @* Copyright &copy; 2024 - Samora Machel Chambers Group of Advocates - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
                    Copyright &copy; @DateTime.Now.Year - Samora Machel Chambers Group of Advocates - All Right Reserved.
                </div>

                <div class="clear">
                </div>
            </div>

        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(document).ready(function () {
            var docHeight = $(window).height();
            var footerHeight = $('#footer').height();
            var footerTop = $('#footer').position().top + footerHeight;

            if (footerTop < docHeight)
                $('#footer').css('margine-top', 10 + (docHeight - footerTop) + 'px');
        });
    </script>
</body>
</html>
