<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SamoraMachelChambersGroupOfAdvocates</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" id="font-awesome-css" href="~/css/font-awesome.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="~/SamoraMachelChambersGroupOfAdvocates.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><b>A LOGO WILL COME HERE</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <span> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</span>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <span> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</span>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="AboutUs" asp-action="Index">About Us</a>
                        </li>
                        <span> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</span>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="News" asp-action="Index">Our Judgement</a>
                        </li>
                        <span> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</span>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Advocates" asp-action="Index">News and Advocates</a>
                        </li>
                        <span> &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;</span>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="ContactUs" asp-action="Create">Contact Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer-wrapper">
        <div class="footer-container container">
            <div class="top-social-wrapper" style="align-content:stretch">
                <label>Follow Us</label>
                <div class="social-icon">
                    <a href="https://www.facebook.com/" target="_blank">
                        <img width="32" height="32" src="~/css/facebook.png" alt="Facebook" />    
                    </a>
                    <span> &nbsp;</span>
                    <a href="https://x.com/home" target="_blank">
                        <img width="32" height="32" src="~/css/twitter.png" alt="Twitter" />
                    </a>
                    <span> &nbsp;</span>
                    <a href="https://web.whatsapp.com/" target="_blank">
                        <img width="32" height="32" src="~/css/whatsapp.png" alt="WhatsApp" />
                    </a>
                </div>
            </div>
            <br />
            <br />
            <div class="footer-column five columns" id="footer-widget-1">
                <div id="nav_menu-7" class="widget widget_nav_menu gdlr-item gdlr-widget">
                    <h3 class="gdlr-widget-title">
                        Overview
                    </h3>
                    <div class="clear">
                    </div>
                    <div class="menu-footer-container" >
                        <ul id="menu-footer" class="menu">
                            Our members practice in all courts and forums. The fields of law traditionally dealt with by our members include the following fields of practice but (not limited thereto):
                            <li id="menu-item-4525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4525">
                                Arbitration
                            </li>
                            <li id="menu-item-4526" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4526">
                                Claims Against Police
                            </li>
                            <li id="menu-item-4527" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4527">
                                Commercial Law
                            </li>
                            <li id="menu-item-4528" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4528">
                                Company Law
                            </li>
                            <li id="menu-item-4529" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4529">
                                Constitutional Law
                            </li>
                            <li id="menu-item-4530" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4530">
                                Construction Law
                            </li>
                            <li id="menu-item-4531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4531">
                                Consumer Protection Law
                            </li>
                            <li id="menu-item-4532" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4532">
                                Contract Law
                            </li>
                            <li id="menu-item-4533" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4533">
                                Corporate Law
                            </li>
                            <li id="menu-item-4534" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4534">
                                Criminal Law
                            </li>
                            <li id="menu-item-4535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4535">
                                Customary Law
                            </li>
                            <li id="menu-item-4536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4536">
                                Eviction Law
                            </li>
                            <li id="menu-item-4537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4537">
                                Family Law
                            </li>
                            <li id="menu-item-4538" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4538">
                                General Civil Law
                            </li>
                            <li id="menu-item-4539" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4539">
                                General Litigation Law
                            </li>
                            <li id="menu-item-4540" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4540">
                                Human Rights Law
                            </li>
                            <li id="menu-item-4541" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4541">
                                Immigration & Refugee Law
                            </li>
                            <li id="menu-item-4542" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4542">
                                Insolvency Law
                            </li>
                            <li id="menu-item-4543" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4543">
                                Insurance
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-column five columns" id="footer-widget-2"></div>
            <div class="footer-column five columns" id="footer-widget-3">
                <div id="text-11" class="widget widget_text gdlr-item gdlr-widget">
                    <h3 class="gdlr-widget-title">
                        Contact Information
                    </h3>
                    <div class="clear">
                    </div>
                    <div class="textwidget">
                        <i class="gdlr-icon fa fa-map-marker" style="color: #fff; font-size: 16px; ">
                        </i>
                        <a target="_blank" href="https://maps.app.goo.gl/4wCQUykVnN2VJCBK6" rel="noopener">
                            Samora Machel Crescent, Mandela Park, Khayelitsha, 7784
                        </a>
                        <div class="clear">
                        </div>
                        <i class="fa fa-envelope-o" style="color: #fff; font-size: 16px; ">
                        </i>
                        <a href="mailto:reception@samoramachelchambers.com">reception@samoramachelchambers.com</a>
                        <div class="clear">
                        </div>
                        <i class="fa fa-phone" style="color: #fff; font-size: 16px; ">
                        </i>
                        <a href="tel:064 776 1095">064 776 1095</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-wrapper">
            <div class="copyright-container container">
                <div class="copyright">
                    @* Copyright &copy; 2024 - Samora Machel Chambers Group of Advocates - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
                    Copyright &copy; @DateTime.Now.Year - Samora Machel Chambers Group of Advocates - All Right Reserved.
                </div>

                <div class="clear">
                </div>
            </div>

        </div>  
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
