@{
    ViewData["Title"] = "Advocates Page";
}
<br />
<div role="main" class="main-container container">
    <div class="dialog-off-canvas-main-canvas" data-off-canvas-main-canvas>
        <p class="align-content-center">
            <h1>Our members</h1>
        </p>
        <br />
        <section class="elementor-section elementor-inner-section elementor-element elementor-element-3cf56ae0 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section">
            <div class="elementor-container elementor-column-gap-wider">
                <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-15b3b88e" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-74950557 elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-element_type="widget" data-widget_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <article data-history-node-id="27" role="article" about="/advocates/unathi-mlamleli" class="members teaser clearfix">
                                    <h2>
                                        <a href="/AboutUs/MemberUnathi" rel="bookmark">
                                            <h3>Unathi Mlamleli</h3>
                                        </a>
                                    </h2>
                                    <div class="content">
                                        <div class="layout layout--onecol">
                                            <div class="layout__region layout__region--content">
                                                <section class="block block-layout-builder block-field-blocknodemembersfield-member-image clearfix">
                                                    <div class="field field--name-field-member-image field--type-image field--label-hidden field--item">
                                                        <a href="/AboutUs/MemberUnathi" hreflang="en">
                                                            <img loading="lazy" src="~/css/mandla.jpg" width="300" height="400" alt="Unathi Mlamleli" typeof="foaf:Image" class="img-responsive" />
                                                        </a>
                                                    </div>
                                                </section>
                                                <section class="block block-layout-builder block-field-blocknodemembersfield-member-contact clearfix">
                                                    <div class="field field--name-field-member-contact field--type-string field--label-above">
                                                        <div class="field field--name-field-member-contact field--type-string field--label-above">
                                                            <div class="field--label">
                                                                <b>Contact</b>
                                                            </div>
                                                            <div class="field--items">
                                                                <div class="field--item">
                                                                    079 615 3594
                                                                </div>
                                                                <div class="field--item">
                                                                    064 776 1095
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                                <section class="block block-layout-builder block-field-blocknodemembersfield-member-email clearfix">
                                                    <div class="field field--name-field-member-contact field--type-string field--label-above">
                                                        <div class="field--label">
                                                            <b>Email</b>
                                                        </div>
                                                        <div class="field--items">
                                                            <div class="field--item">
                                                                reception@samoramachelchambers.com
                                                            </div>
                                                            <div class="field--item">
                                                                advmlamleliu@gmail.com
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <span> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;</span>
                <span> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;</span>
                <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-15b3b88e" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-74950557 elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-element_type="widget" data-widget_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <article data-history-node-id="27" role="article" about="/advocates/Mvuleni-futa" class="members teaser clearfix">
                                    <h2>
                                        <a href="/AboutUs/MemberMvuleni" rel="bookmark">
                                            <h3>Mvuleni Futa</h3>
                                        </a>
                                    </h2>
                                    <div class="content">
                                        <div class="layout layout--onecol">
                                            <div class="layout__region layout__region--content">
                                                <section class="block block-layout-builder block-field-blocknodemembersfield-member-image clearfix">
                                                    <div class="field field--name-field-member-image field--type-image field--label-hidden field--item">
                                                        <a href="/AboutUs/MemberMvuleni" hreflang="en">
                                                            <img loading="lazy" src="~/css/mandla.jpg" width="300" height="400" alt="Mvuleni Futa" typeof="foaf:Image" class="img-responsive" />
                                                        </a>
                                                    </div>
                                                </section>
                                                <section class="block block-layout-builder block-field-blocknodemembersfield-member-contact clearfix">
                                                    <div class="field field--name-field-member-contact field--type-string field--label-above">
                                                        <div class="field field--name-field-member-contact field--type-string field--label-above">
                                                            <div class="field--label">
                                                                <b>Contact</b>
                                                            </div>
                                                            <div class="field--items">
                                                                <div class="field--item">
                                                                    083 370 9708
                                                                </div>
                                                                <div class="field--item">
                                                                    064 776 1095
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                                <section class="block block-layout-builder block-field-blocknodemembersfield-member-email clearfix">
                                                    <div class="field field--name-field-member-contact field--type-string field--label-above">
                                                        <div class="field--label">
                                                            <b>Email</b>
                                                        </div>
                                                        <div class="field--items">
                                                            <div class="field--item">
                                                                reception@samoramachelchambers.com
                                                            </div>
                                                            <div class="field--item">
                                                                mvuleni.futa@gmail.com
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                <span> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;</span>
                <span> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;</span>
                <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-15b3b88e" data-element_type="column">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-74950557 elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-element_type="widget" data-widget_type="icon-box.default">
                            <div class="elementor-widget-container">
                                <article data-history-node-id="27" role="article" about="/advocates/siphumelele-magaqa" class="members teaser clearfix">
                                    <h2>
                                        <a href="/AboutUs/MemberSiphumelele" rel="bookmark">
                                            <h3>Siphumelele Magaqa</h3>
                                        </a>
                                    </h2>
                                    <div class="content">
                                        <div class="layout layout--onecol">
                                            <div class="layout__region layout__region--content">
                                                <section class="block block-layout-builder block-field-blocknodemembersfield-member-image clearfix">
                                                    <div class="field field--name-field-member-image field--type-image field--label-hidden field--item">
                                                        <a href="/AboutUs/MemberSiphumelele" hreflang="en">
                                                            <img loading="lazy" src="~/css/mandla.jpg" width="300" height="400" alt="Mvuleni Futa" typeof="foaf:Image" class="img-responsive" />
                                                        </a>
                                                    </div>
                                                </section>
                                                <section class="block block-layout-builder block-field-blocknodemembersfield-member-contact clearfix">
                                                    <div class="field field--name-field-member-contact field--type-string field--label-above">
                                                        <div class="field field--name-field-member-contact field--type-string field--label-above">
                                                            <div class="field--label">
                                                                <b>Contact</b>
                                                            </div>
                                                            <div class="field--items">
                                                                <div class="field--item">
                                                                    064 776 1095
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                                <section class="block block-layout-builder block-field-blocknodemembersfield-member-email clearfix">
                                                    <div class="field field--name-field-member-contact field--type-string field--label-above">
                                                        <div class="field--label">
                                                            <b>Email</b>
                                                        </div>
                                                        <div class="field--items">
                                                            <div class="field--item">
                                                                reception@samoramachelchambers.com
                                                            </div>
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>
    </div>
    <br />
</div>