@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <p>
            <b>Profile/ Overview</b>
        </p>
        <p>Samora Machel Chambers Group of Advocates is a community-based chambers of advocates, firmly dedicated to make access to justice affordable for everyone regardless of one’s socioeconomic status.
        Members of Samora Machel Chambers Group of Advocates pride themselves in providing advocacy that is both excellent and principled.
        Our mission is to provide excellent, professional, and comprehensive legal services at affordable rates.
        We are passionate about justice and are committed to delivering personalized service with integrity and dedication.
        Members of Samora Machel Group of Advocates practice in all fields of law, including civil litigation, criminal litigation, labour law litigation, appeals (civil & criminal), labour Court reviews and our members are renowned in their fields of practice.
        </p>
        <p>
            <b>Vision Statement</b>
        </p>
        <p>
        Our aim is to revolutionize access to justice by ensuring that even those previously disadvantaged, deprived, impoverished, debilitated and/or underprivileged are able to access justice.
        Members of Samora Machel Chambers Group provide affordable, efficient, and comprehensive legal solutions, in particular in litigious matters, ensuring that our
        litigants are fully empowered with the knowledge and support they need to uphold their rights.
        </p>
        <p>
            <b>Mission Statement</b>
         </p>
        <p>
        Samora Machel Chambers Group of advocates’ mission is to make justice accessible to all, including those that are previously disadvantaged, deprived, impoverished, debilitated and/or underprivileged.
        We are committed to delivering professional, personalized, and affordable legal services that prioritize accountability, integrity, and dedication.
        Through continuous innovation, we aim to enhance our clients' experience, ensuring swift resolutions and sensitive handling of their legal matters.
        </p>
    </div>
    <br />
    <div class="pb-20 row">
        <div class="col-md-4 col-sm-12 col-xs-12 text-center" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInDown;">
            <div class="card frontfeatured">
                <div class="card-body">
                    <div style="margin-bottom:20px">
                        <svg class="svg-inline--fa fa-user-tie" style="height: 50px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-tie" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg>
                            <path fill="currentColor" d="M352 128C352 198.7 294.7 256 224 256C153.3 256 96 198.7 96 128C96 57.31 153.3 0 224 0C294.7 0 352 57.31 352 128zM209.1 359.2L176 304H272L238.9 359.2L272.2 483.1L311.7 321.9C388.9 333.9 448 400.7 448 481.3C448 498.2 434.2 512 417.3 512H30.72C13.75 512 0 498.2 0 481.3C0 400.7 59.09 333.9 136.3 321.9L175.8 483.1L209.1 359.2z">
                            </path>
                        </svg>
                    </div>
                    <p class="card-text" style="margin-bottom:20px">
                        Meet one of our members ready to provide professional services to you and your business.
                    </p>
                    <a class="btn btn-primary" href="/Advocates/Index">View Members</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 text-center" style="visibility: visible; animation-duration: 1s; animation-delay: 0.3s; animation-name: fadeInDown;">
            <div class="card frontfeatured">
                <div class="card-body">
                    <div style="margin-bottom:20px">
                        <svg class="svg-inline--fa fa-scale-balanced" style="height: 50px;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="user-tie" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" data-fa-i2svg>
                            <path fill="currentColor" d="M554.9 154.5c-17.62-35.25-68.12-35.38-85.87 0c-87 174.3-84.1 165.9-84.1 181.5c0 44.13 57.25 80 128 80s127.1-35.88 127.1-80C639.1 319.9 641.4 327.3 554.9 154.5zM439.1 320l71.96-144l72.17 144H439.1zM256 336c0-16.12 1.375-8.75-85.12-181.5c-17.62-35.25-68.12-35.38-85.87 0c-87 174.3-84.1 165.9-84.1 181.5c0 44.13 57.25 80 127.1 80S256 380.1 256 336zM127.9 176L200.1 320H55.96L127.9 176zM495.1 448h-143.1V153.3C375.5 143 393.1 121.8 398.4 96h113.6c17.67 0 31.1-14.33 31.1-32s-14.33-32-31.1-32h-128.4c-14.62-19.38-37.5-32-63.62-32S270.1 12.62 256.4 32H128C110.3 32 96 46.33 96 64S110.3 96 127.1 96h113.6c5.25 25.75 22.87 47 46.37 57.25V448H144c-26.51 0-48.01 21.49-48.01 48c0 8.836 7.165 16 16 16h416c8.836 0 16-7.164 16-16C544 469.5 522.5 448 495.1 448z">
                            </path>
                        </svg>
                    </div>
                    <p class="card-text" style="margin-bottom:20px">
                        We offer Legal services based on your needs. Please click below for more information.
                    </p>
                    <a class="btn btn-primary" href="/service">Read More</a>
                </div>
            </div>
        </div>
    </div>

</div>