html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.footer-container {
    padding-top: 60px;
}

.footer-wrapper {
    background-color: #161616;
    color: #ffffff;
    position: relative;
    background-repeat: no-repeat;
    background-position: right top;
}

.copyright-wrapper {
    color: #afafaf;
    background-color: #262626;
    border-top-width: 1px;
    border-top-style: solid;
    padding: 15px 0px;
}


.container {
    padding: 0px;
    margin: 0px auto;
   /* max-width: 420px;*/
    margin-left: auto !important;
    margin-right: auto !important;
}

/*.footer-wrapper .copyright-wrapper {
    border-color: #262626;
}*/



/*fields of Practice are set here*/
.elementor-section .elementor-container {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}


*, :after, :before {
    box-sizing: inherit;
}


body, button, input, select, textarea, .ast-button, .ast-custom-button {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: var(--ast-body-line-height, 1.65em);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

body {
    color: #808285;
    background: #fff;
    font-style: normal;
}