@{
    ViewData["Title"] = "Advocates Page";
}
<br />
<div role="main" class="main-container container">
    <div class="pt-8 pb-8">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="accordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" aria-expanded="true" data-bs-target="#judiciary" aria-controls="judiciary">
                                    Judiciary
                                    <span class="accordion-icon ms-auto d-inline-block">
                                        <i aria-hidden="true" class="fas fa-landmark">

                                        </i>
                                    </span>
                                </button>
                            </h2>
                            <div class="accordion-collapse collapse show" data-bs-parent="#accordion-litigation">
                                <div class="accordion-body" >
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p></p>
                                    <p>
                                        Here we enter all the information and acts, but I don't know any of those
                                    </p>
                                    <h5>Judicial Service Commission</h5>
                                    <p>
                                        Here we enter all the information and acts, but I don't know any of those
                                    </p>
                                    <div class="case-items row mb-4">
                                        <div class="case-item mb-2 col-12 col-lg-2 text-center">
                                            <div class="case-date">
                                                <i class="icofont-ui-calendar">
                                                    <span class="item-published-day"></span>
                                                    <span class="item-published-month"></span>
                                                    <span class="item-published-year"></span>
                                                </i>
                                            </div>
                                            <div class="case-name">
                                                <a href="https://www.thisisanfield.com/2024/08/thomas-frank-has-revealed-if-25m-buy-sepp-van-den-berg-can-play-vs-liverpool/" class="contenttype-folder state-published url entry-title">
                                                    </a>
                                            </div>
                                        </div>
                                        <div class="case-item mb-2 col-12 col-lg-2 text-center">
                                            <div class="case-date">
                                                <i class="icofont-ui-calendar">
                                                    <span class="item-published-day"></span>
                                                    <span class="item-published-month"></span>
                                                    <span class="item-published-year"></span>
                                                </i>
                                            </div>
                                            <div class="case-name">
                                                <a href="https://anfieldwatch.co.uk/liverpool-news-recap-thursday-22nd-august/" class="contenttype-folder state-published url entry-title">
                                                    </a>
                                            </div>
                                        </div>
                                        <div class="case-item mb-2 col-12 col-lg-2 text-center">
                                            <div class="case-date">
                                                <i class="icofont-ui-calendar">
                                                    <span class="item-published-day"></span>
                                                    <span class="item-published-month"></span>
                                                    <span class="item-published-year"></span>
                                                </i>
                                            </div>
                                            <div class="case-name">
                                                <a href="https://www.liverpool.com/liverpool-fc-news/transfer-news/liverpool-transfer-confirmed-arne-slot-29800918" class="contenttype-folder state-published url entry-title">
                                                    </a>
                                            </div>
                                        </div>
                                    </div>
                                    <h5>Magistrate Commission</h5>
                                    <p>
                                        Here we enter all the information and acts, but I don't know any of those
                                    </p>
                                    <div class="case-items row mb-4">
                                        <div class="case-item mb-2 col-12 col-lg-2 text-center">
                                            <div class="case-date">
                                                <i class="icofont-ui-calendar">
                                                    <span class="item-published-day"></span>
                                                    <span class="item-published-month"></span>
                                                    <span class="item-published-year"></span>
                                                </i>
                                            </div>
                                            <div class="case-name">
                                                <a href="https://www.thisisanfield.com/2024/08/thomas-frank-has-revealed-if-25m-buy-sepp-van-den-berg-can-play-vs-liverpool/" class="contenttype-folder state-published url entry-title">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="case-item mb-2 col-12 col-lg-2 text-center">
                                            <div class="case-date">
                                                <i class="icofont-ui-calendar">
                                                    <span class="item-published-day"></span>
                                                    <span class="item-published-month"></span>
                                                    <span class="item-published-year"></span>
                                                </i>
                                            </div>
                                            <div class="case-name">
                                                <a href="https://anfieldwatch.co.uk/liverpool-news-recap-thursday-22nd-august/" class="contenttype-folder state-published url entry-title">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="case-item mb-2 col-12 col-lg-2 text-center">
                                            <div class="case-date">
                                                <i class="icofont-ui-calendar">
                                                    <span class="item-published-day"></span>
                                                    <span class="item-published-month"></span>
                                                    <span class="item-published-year"></span>
                                                </i>
                                            </div>
                                            <div class="case-name">
                                                <a href="https://www.liverpool.com/liverpool-fc-news/transfer-news/liverpool-transfer-confirmed-arne-slot-29800918" class="contenttype-folder state-published url entry-title">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>