@{
    ViewData["Title"] = "About Us Page";
}

<div class="text-center">
    <div>
        <p>
            <b>Establishment</b>
        </p>
        <p>
            The Samora Machel Chambers Group of Advocates has since its inception been on Samora Machel Crescent, Mandela Park, Khayelitsha and its name is however, more than merely a reference to its location.
            It embodies and resonates with the life and the legacy of the late Samora Machel, who believed on the notion that all human beings are born free and equal in dignity and rights. The rights to equality and non-discrimination are cornerstones of human rights law.
            Samora Machel Chambers Group of Advocates is relatively young. It was founded in January 2024 by established, experienced and esteemed group of advocates
            with the intention of making advocacy services accessible even to the previously disadvantaged, deprived, impoverished, debilitated and/or underprivileged.
            Our members are able to assist litigants with high court litigation, labour court litigation, Supreme Court of Appeal litigation, constitutional court litigation and we also assist with representation to any legally recognised tribunal, including CCMA.
        </p>
        <br />
        <p>
            <b>Fields of Practice</b>
        </p>
        <div class="text-left">
            <div class="widget widget_nav_menu gdlr-item gdlr-widget">
                <div class="menu-footer-container">
                    <ul id="menu-footer" class="menu">
                        Our members practice in all courts and forums. The fields of law traditionally dealt with by our members include the following fields of practice but (not limited thereto):
                        <li id="menu-item-4525" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4525">
                            Arbitration
                        </li>
                        <li id="menu-item-4526" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4526">
                            Claims Against Police
                        </li>
                        <li id="menu-item-4527" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4527">
                            Commercial Law
                        </li>
                        <li id="menu-item-4528" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4528">
                            Company Law
                        </li>
                        <li id="menu-item-4529" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4529">
                            Constitutional Law
                        </li>
                        <li id="menu-item-4530" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4530">
                            Construction Law
                        </li>
                        <li id="menu-item-4531" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4531">
                            Consumer Protection Law
                        </li>
                        <li id="menu-item-4532" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4532">
                            Contract Law
                        </li>
                        <li id="menu-item-4533" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4533">
                            Corporate Law
                        </li>
                        <li id="menu-item-4534" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4534">
                            Criminal Law
                        </li>
                        <li id="menu-item-4535" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4535">
                            Customary Law
                        </li>
                        <li id="menu-item-4536" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4536">
                            Eviction Law
                        </li>
                        <li id="menu-item-4537" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4537">
                            Family Law
                        </li>
                        <li id="menu-item-4538" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4538">
                            General Civil Law
                        </li>
                        <li id="menu-item-4539" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4539">
                            General Litigation Law
                        </li>
                        <li id="menu-item-4540" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4540">
                            Human Rights Law
                        </li>
                        <li id="menu-item-4541" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4541">
                            Immigration & Refugee Law
                        </li>
                        <li id="menu-item-4542" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4542">
                            Insolvency Law
                        </li>
                        <li id="menu-item-4543" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4543">
                            Insurance
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>