@{
    ViewData["Title"] = "About Us Page";
}
<style type="text/css"></style>
<br />
<div class="text-center">
    <div>
        <fieldset>
             <p>
            <b>Establishment</b>
        </p>
        <p>
            The Samora Machel Chambers Group of Advocates has since its inception been on Samora Machel Crescent, Mandela Park, Khayelitsha and its name is however, more than merely a reference to its location.
            It embodies and resonates with the life and the legacy of the late Samora Machel, who believed on the notion that all human beings are born free and equal in dignity and rights. The rights to equality and non-discrimination are cornerstones of human rights law.
        </p>
        <p>
            Samora Machel Chambers Group of Advocates is relatively young. It was founded in January 2024 by established, experienced and esteemed group of advocates
            with the intention of making advocacy services accessible even to the previously disadvantaged, deprived, impoverished, debilitated and/or underprivileged.
            Our members are able to assist litigants with high court litigation, labour court litigation, Supreme Court of Appeal litigation, constitutional court litigation and we also assist with representation to any legally recognised tribunal, including CCMA.
        </p>
        <br />
        <div class="elementor-container elementor-column-gap-wide">
            <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4fb90352" data-element_type="column">
                <div class="elementor-widget-wrap elementor-element-populated">
                    <div class="elementor-element elementor-element-e131467 elementor-widget elementor-widget-heading" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h2 class="elementor-heading-title elementor-size-default">Fields of Practice</h2>
                        </div>
                    </div>
                    <br />
                    <section class="elementor-section elementor-inner-section elementor-element elementor-element-3cf56ae0 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-element_type="section">
                        <div class="elementor-container elementor-column-gap-wider">
                            <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-15b3b88e" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-74950557 elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-element_type="widget" data-widget_type="icon-box.default">
                                        <div class="elementor-widget-container">
                                            <link rel="stylesheet" href="https://symes-attorneys.com/wp-content/plugins/elementor/assets/css/widget-icon-box.min.css" />
                                            <div class="elementor-icon-box-wrapper">
                                                <div class="elementor-icon-box-icon">
                                                    <span class="elementor-icon elementor-animation-">
                                                        <i aria-hidden="true" class="far fa-handshake">
                                                        </i>
                                                    </span>
                                                </div>
                                                <div class="elementor-icon-box-content">
                                                    <div class="elementor-icon-box-title">
                                                        <span><b>Criminal Law</b></span>
                                                    </div>
                                                    <p class="elementor-icon-box-description">
                                                        Unathi and Team to provide me some information about Criminal Law, then I will add it here.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;</span>
                            <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-15b3b88e" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-74950557 elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-element_type="widget" data-widget_type="icon-box.default">
                                        <div class="elementor-widget-container">
                                            <link rel="stylesheet" href="https://symes-attorneys.com/wp-content/plugins/elementor/assets/css/widget-icon-box.min.css" />
                                            <div class="elementor-icon-box-wrapper">
                                                <div class="elementor-icon-box-icon">
                                                    <span class="elementor-icon elementor-animation-">
                                                        <i aria-hidden="true" class="fas fa-balance-scale">

                                                        </i>
                                                    </span>
                                                </div>
                                                <div class="elementor-icon-box-content">
                                                    <div class="elementor-icon-box-title">
                                                        <span><b>General Litigation Law</b></span>
                                                    </div>
                                                    <p class="elementor-icon-box-description">
                                                        Unathi and Team to provide me some information about Criminal Law, then I will add it here.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;</span>
                            <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-15b3b88e" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-74950557 elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-element_type="widget" data-widget_type="icon-box.default">
                                        <div class="elementor-widget-container">
                                            <link rel="stylesheet" href="https://symes-attorneys.com/wp-content/plugins/elementor/assets/css/widget-icon-box.min.css" />
                                            <div class="elementor-icon-box-wrapper">
                                                <div class="elementor-icon-box-icon">
                                                    <span class="elementor-icon elementor-animation-">
                                                        <i aria-hidden="true" class="fas fa-gavel">

                                                        </i>
                                                    </span>
                                                </div>
                                                <div class="elementor-icon-box-content">
                                                    <div class="elementor-icon-box-title">
                                                        <span><b>Eviction Law</b></span>
                                                    </div>
                                                    <p class="elementor-icon-box-description">
                                                        Unathi and Team to provide me some information about Eviction Law, then I will add it here.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;</span>
                            <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-15b3b88e" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-74950557 elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-element_type="widget" data-widget_type="icon-box.default">
                                        <div class="elementor-widget-container">
                                            <link rel="stylesheet" href="https://symes-attorneys.com/wp-content/plugins/elementor/assets/css/widget-icon-box.min.css" />
                                            <div class="elementor-icon-box-wrapper">
                                                <div class="elementor-icon-box-icon">
                                                    <span class="elementor-icon elementor-animation-">
                                                        <i aria-hidden="true" class="fa-solid fa-people-roof">
                                                        </i>
                                                    </span>
                                                </div>
                                                <div class="elementor-icon-box-content">
                                                    <div class="elementor-icon-box-title">
                                                        <span><b>Family Law</b></span>
                                                    </div>
                                                    <p class="elementor-icon-box-description">
                                                        Unathi and Team to provide me some information about Family Law, then I will add it here.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;</span>
                            <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-15b3b88e" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-74950557 elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-element_type="widget" data-widget_type="icon-box.default">
                                        <div class="elementor-widget-container">
                                            <link rel="stylesheet" href="https://symes-attorneys.com/wp-content/plugins/elementor/assets/css/widget-icon-box.min.css" />
                                            <div class="elementor-icon-box-wrapper">
                                                <div class="elementor-icon-box-icon">
                                                    <span class="elementor-icon elementor-animation-">
                                                        <i class="fas fa-hammer">

                                                        </i>
                                                    </span>
                                                </div>
                                                <div class="elementor-icon-box-content">
                                                    <div class="elementor-icon-box-title">
                                                        <span><b>Construction Law</b></span>
                                                    </div>
                                                    <p class="elementor-icon-box-description">
                                                        Unathi and Team to provide me some information about Construction Law, then I will add it here.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span> &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;</span>
                            <div class="elementor-column elementor-col-25 elementor-inner-column elementor-element elementor-element-15b3b88e" data-element_type="column">
                                <div class="elementor-widget-wrap elementor-element-populated">
                                    <div class="elementor-element elementor-element-74950557 elementor-view-default elementor-position-top elementor-mobile-position-top elementor-widget elementor-widget-icon-box" data-element_type="widget" data-widget_type="icon-box.default">
                                        <div class="elementor-widget-container">
                                            <link rel="stylesheet" href="https://symes-attorneys.com/wp-content/plugins/elementor/assets/css/widget-icon-box.min.css" />
                                            <div class="elementor-icon-box-wrapper">
                                                <div class="elementor-icon-box-icon">
                                                    <span class="elementor-icon elementor-animation-">
                                                        <i aria-hidden="true" class="fas fa-landmark">

                                                        </i>
                                                    </span>
                                                </div>
                                                <div class="elementor-icon-box-content">
                                                    <div class="elementor-icon-box-title">
                                                        <span><b>Human Rights Law</b></span>
                                                    </div>
                                                    <p class="elementor-icon-box-description">
                                                        Unathi and Team to provide me some information about Human Rights Law, then I will add it here.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>                      
                        </div>
                    </section>
                </div>
            </div>
        </div>
        </fieldset>
       
    </div>
    <br />
</div>