@{
    ViewData["Title"] = "Member Page";
}

<div class="text-center">
    <div>
        <p>
            <b>About Advocate Unathi Mlamleli</b>
        </p>
        <p>
            Advocate Unathi Mlamleli is an advocate of the High Court of South Africa, driven by a passion for providing litigants with effective legal solutions. Even before he was conferred with his Law Degree, whilst a student at the University of the Western Cape, Advocate Unathi Mlamleli was employed by the University as a peer mentor to fellow law students. As a peer mentor, he was entrusted with the duty to teach, guide and play an advisory role to fellow law students.
        </p>
        <p>
            Having obtained his law degree from the University of the Western Cape in 2014, Advocate Unathi Mlamleli launched his career at the City of Cape Town’s legal department as a legal intern where he quickly gained recognition and experience in drafting legal decisions in terms of section 62 of the Local Government: Municipal Systems Act 32 of 2000 on behalf of the Appeal authority.
            After sharpening his skills as an intern at the City of Cape Town’s legal department, Advocate Unathi Mlamleli was appointed as a candidate Attorney at Strauss Daly Attorneys, where he expended his legal experience to deal mainly with civil litigation, which included foreclosures, family law, property law and other areas of private law.
            Thereafter he ceded his articles of clerkship to Legal Aid South Africa, where he expanded his legal practice to include other areas of law, such as criminal law and civil law litigation.
        </p>
        <p>
            Advocate Unathi Mlamleli successfully completed the Advocate Assessment Programme and passed Advocacy Training Exams. Thereafter, he became a member of the National Bar Council of South Africa – NBCSA having been admitted as an advocate in 2017.
            During his years of practice as an advocate, He has successfully assisted litigants across a wide range of complex legal issues, delivering successful and favourable outcomes even in the most challenging legal disputes.
            Advocate Unathi Mlamleli is a well-rounded legal professional with a comprehensive understanding of the law. He is dedicated to assisting litigants in navigating the intricacies of our legal system, and anyone looking for a successful
            resolution to their legal issue will benefit greatly from his experience, skill, dedication and excellence.
        </p>
        <br />
    </div>
    <br />
</div>