@{
    ViewData["Title"] = "Member Page";
}

<div class="text-center">
    <div>
        <p>
            <b>About our Legal Secretary: Miss Siphumelele Magaqa</b>
        </p>
        <p>
            Siphumelele Magaqa is a dedicated and versatile professional, currently serving as the Samora Machel Chambers legal Secretary. In this role, she expertly assists both Adv U Mlamleli and Adv M Futa with all administrative duties, ensuring the smooth running of their chambers and schedules.
        </p>
        <p>
            With a background in hospitality and tourism, Siphumelele has honed her people skills and communication abilities, making her a valuable asset in any client-facing environment. Her administrative experience, gained from working at PetroSA as a Procurement Clerk and Pindie Photography as an Admin Clerk, has equipped her with the necessary skills to excel in her current position.
        </p>
        <p>
            Siphumelele's passion for growth and development is evident in her eagerness to embrace new challenges and opportunities. The legal field has become her latest teacher, and she continues to expand her skills and knowledge in this area.
        </p>
        <br />
    </div>
    <br />
</div>